#blog-nav{
  position: fixed;
  z-index: 999;
  display:block;
  width: 100%;
  height: 70px;
  background: #000;
  -webkit-transition: none;
  -moz-transition:none;
  transition: none;

  nav{
    font-family: "ProximaNovaRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .sub-menu{
    margin:0;
    padding: 0;
    list-style: none;
    line-height: 1.0;
    li{
      float: left;
      position: relative;
    }
    a{
      display: block;
      position: relative;
    }
  }

  nav>ul{
    float: right;
    font-size: 13px;
    text-transform: uppercase;

    li>a{
       color: #a6a6a6;
       height: 12px;
       padding: 19px 18px 29px;
       margin-top: 10px;
       text-decoration: none;
      &:hover{
        color: #fff;
      }
     }
  }
}

#logo{
  display: table;
  font-size: 40px;
  height: 60px;
  line-height: 40px;
  width: 240px;
  overflow:hidden;
  span{
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
  }
  #brand{
    width: 200px;
    height: 60px;
    background: url(../images/logo1.png) top left no-repeat;
  }
  &:hover{
    text-decoration: none;
  }
}

#user-info{
  width: 225px;
  overflow: hidden;
  padding: 215px 10px 10px 10px;
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  background: url(../images/bg.jpg) 0 0 no-repeat;
  border: 1px solid #efefef;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  .user{
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    left: 63px;
    top: 104px;
    background: url(../images/zhu.png) center center no-repeat;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 10px 5px #ccc;
    -moz-box-shadow: 0px 0px 10px 5px #ccc;
    box-shadow: 0px 0px 10px 5px #ccc;
  }
  .name{
    margin: 5px 0px;
    padding: 0px;
    color: #333;
  }
  .contact{
    padding: 0px 10px;
    text-align: left;
    font-size: 12px;
    height: 20px;
    line-height: 30px;
  }
}

.item{
  height: 40px;
  padding: 0px 10px;
  position: relative;
  span{
    display: inline-block;
    position: absolute;
  }
  .date{
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    left: 0px;
    top: 0px;
  }
  .dot{
    width: 40px;
    height: 40px;
    line-height: 40px;
    left: 100px;
    top: 0px;
    font-size: 14px;
    color: #666;
    text-align: center;
    background: url(../images/double-line.png) center center no-repeat;
    &.first{
      background: url(../images/single-line.png) center bottom no-repeat;
    }
    &:hover{
      color: #428bca;
      text-shadow: 0px 0px 3px #428bca;
      cursor: pointer;
    }
  }
  .title{
    height: 40px;
    line-height: 40px;
    left: 140px;
    top: 0px;
    &.html{
      background: url(../images/html.png) 0 center no-repeat;
      text-indent: 56px;
    }
    &.css{
      background: url(../images/css.png) 0 center no-repeat;
      text-indent: 56px;
    }
    &.js{
      background: url(../images/js.png) 0 center no-repeat;
      text-indent: 56px;
    }
    a:hover{
      text-decoration: none;
    }
  }
}

li p{
  text-indent: 0px;
}

.wrapper{
  margin: 0 auto;
  min-width: 1020px;
}

.lineno{
  padding-right: 3px;
}

.row{
  margin: 0 auto;
  width: 1020px;
}

html *[class*="col"]{
  margin: 0 15px;
  float: left;
}

.col3{
  width: 225px;
}

.col9{
  width: 735px;
}

.tag_box{
  .list-group-item{
    padding: 0px;
    border:none;
    line-height: normal;
  }
}

.inner-right{
  margin-right: 0px !important;
}

.inner-left{
  margin-left: 0px !important;
}

#main{
  padding: 70px 0 0 0;
  opacity: 1;
  background: #fff;
}