/* line 1, ../scss/site.scss */
#blog-nav {
  position: fixed;
  z-index: 999;
  display: block;
  width: 100%;
  height: 70px;
  background: #000;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
/* line 12, ../scss/site.scss */
#blog-nav nav {
  font-family: "ProximaNovaRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 16, ../scss/site.scss */
#blog-nav .sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.0;
}
/* line 21, ../scss/site.scss */
#blog-nav .sub-menu li {
  float: left;
  position: relative;
}
/* line 25, ../scss/site.scss */
#blog-nav .sub-menu a {
  display: block;
  position: relative;
}
/* line 31, ../scss/site.scss */
#blog-nav nav > ul {
  float: right;
  font-size: 13px;
  text-transform: uppercase;
}
/* line 36, ../scss/site.scss */
#blog-nav nav > ul li > a {
  color: #a6a6a6;
  height: 12px;
  padding: 19px 18px 29px;
  margin-top: 10px;
  text-decoration: none;
}
/* line 42, ../scss/site.scss */
#blog-nav nav > ul li > a:hover {
  color: #fff;
}

/* line 49, ../scss/site.scss */
#brand {
  display: block;
  float: left;
  width: 200px;
  height: 60px;
  margin: 5px 0px;
  background: url(../images/logo1.png) top left no-repeat;
  text-indent: -9999px;
}

/* line 59, ../scss/site.scss */
.wrapper {
  margin: 0 auto;
  min-width: 1020px;
}

/* line 64, ../scss/site.scss */
.row {
  margin: 0 auto;
  width: 1020px;
}

/* line 69, ../scss/site.scss */
html *[class*="col"] {
  margin: 0 15px;
  float: left;
}

/* line 74, ../scss/site.scss */
.col3 {
  width: 225px;
}

/* line 78, ../scss/site.scss */
.col9 {
  width: 735px;
}

/* line 82, ../scss/site.scss */
.inner-right {
  margin-right: 0px !important;
}

/* line 86, ../scss/site.scss */
.inner-left {
  margin-left: 0px !important;
}

/* line 91, ../scss/site.scss */
#main {
  padding: 70px 0 0 0;
  opacity: 1;
  background: #fff;
}
