/* line 1, ../scss/site.scss */
#blog-nav {
  position: fixed;
  z-index: 999;
  display: block;
  width: 100%;
  height: 70px;
  background: #000;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
/* line 12, ../scss/site.scss */
#blog-nav nav {
  font-family: "ProximaNovaRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 16, ../scss/site.scss */
#blog-nav .sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.0;
}
/* line 21, ../scss/site.scss */
#blog-nav .sub-menu li {
  float: left;
  position: relative;
}
/* line 25, ../scss/site.scss */
#blog-nav .sub-menu a {
  display: block;
  position: relative;
}
/* line 31, ../scss/site.scss */
#blog-nav nav > ul {
  float: right;
  font-size: 13px;
  text-transform: uppercase;
}
/* line 36, ../scss/site.scss */
#blog-nav nav > ul li > a {
  color: #a6a6a6;
  height: 12px;
  padding: 19px 18px 29px;
  margin-top: 10px;
  text-decoration: none;
}
/* line 42, ../scss/site.scss */
#blog-nav nav > ul li > a:hover {
  color: #fff;
}

/* line 49, ../scss/site.scss */
#logo {
  display: table;
  font-size: 40px;
  height: 60px;
  line-height: 40px;
  width: 240px;
  overflow: hidden;
}
/* line 56, ../scss/site.scss */
#logo span {
  display: table-cell;
  vertical-align: middle;
}
/* line 60, ../scss/site.scss */
#logo #brand {
  width: 200px;
  height: 60px;
  margin: 5px 5px;
  background: url(../images/logo1.png) top left no-repeat;
}
/* line 66, ../scss/site.scss */
#logo:hover {
  text-decoration: none;
}

/* line 71, ../scss/site.scss */
#user-info {
  width: 225px;
  overflow: hidden;
  padding: 215px 10px 10px 10px;
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  background: url(../images/bg.jpg) 0 0 no-repeat;
  border: 1px solid #efefef;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
/* line 84, ../scss/site.scss */
#user-info .user {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  left: 63px;
  top: 104px;
  background: url(../images/zhu.png) center center no-repeat;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px 5px #ccc;
  -moz-box-shadow: 0px 0px 10px 5px #ccc;
  box-shadow: 0px 0px 10px 5px #ccc;
}
/* line 99, ../scss/site.scss */
#user-info .name {
  margin: 5px 0px;
  padding: 0px;
  color: #333;
}
/* line 104, ../scss/site.scss */
#user-info .contact {
  padding: 0px 10px;
  text-align: left;
  font-size: 12px;
  height: 20px;
  line-height: 30px;
}

/* line 113, ../scss/site.scss */
.item {
  height: 40px;
  padding: 0px 10px;
  position: relative;
}
/* line 117, ../scss/site.scss */
.item span {
  display: inline-block;
  position: absolute;
}
/* line 121, ../scss/site.scss */
.item .date {
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: right;
  left: 0px;
  top: 0px;
}
/* line 129, ../scss/site.scss */
.item .dot {
  width: 40px;
  height: 40px;
  line-height: 40px;
  left: 100px;
  top: 0px;
  font-size: 14px;
  color: #666;
  text-align: center;
  background: url(../images/double-line.png) center center no-repeat;
}
/* line 139, ../scss/site.scss */
.item .dot.first {
  background: url(../images/single-line.png) center bottom no-repeat;
}
/* line 142, ../scss/site.scss */
.item .dot:hover {
  color: #428bca;
  text-shadow: 0px 0px 3px #428bca;
  cursor: pointer;
}
/* line 148, ../scss/site.scss */
.item .title {
  height: 40px;
  line-height: 40px;
  left: 140px;
  top: 0px;
}

/* line 156, ../scss/site.scss */
.wrapper {
  margin: 0 auto;
  min-width: 1020px;
}

/* line 161, ../scss/site.scss */
.row {
  margin: 0 auto;
  width: 1020px;
}

/* line 166, ../scss/site.scss */
html *[class*="col"] {
  margin: 0 15px;
  float: left;
}

/* line 171, ../scss/site.scss */
.col3 {
  width: 225px;
}

/* line 175, ../scss/site.scss */
.col9 {
  width: 735px;
}

/* line 180, ../scss/site.scss */
.tag_box .list-group-item {
  padding: 0px;
  border: none;
  line-height: normal;
}

/* line 187, ../scss/site.scss */
.inner-right {
  margin-right: 0px !important;
}

/* line 191, ../scss/site.scss */
.inner-left {
  margin-left: 0px !important;
}

/* line 195, ../scss/site.scss */
#main {
  padding: 70px 0 0 0;
  opacity: 1;
  background: #fff;
}
